<div class="" *ngIf="show; else loading ">
<!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand nav-margin" (click)="scrollToElement(home,'home')">{{id | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" #buttonmenu>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end nav-margin-right" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li #home_li class="nav-item active">
          <a class="nav-link" (click)="scrollToElement(home,'home')">Inicio</a>
        </li>
        <li #about_li class="nav-item">
          <a class="nav-link" (click)="scrollToElement(about,'about')">Nosotros</a>
        </li>
        <li #servicios_li class="nav-item">
            <a class="nav-link" (click)="scrollToElement(servicios,'servicios')">Servicios</a>
        </li>
        <li #portafolio_li class="nav-item">
            <a class="nav-link" (click)="scrollToElement(portafolio,'portafolio')">Portafolio</a>
        </li>
        <li #contact_li class="nav-item">
            <a class="nav-link" (click)="scrollToElement(contacto,'contact')">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
  <!-- <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        
        <a href="#intro" class="scrollto"><img src="{{data.secciones.home.logo}}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li #home_li class="active"><a (click)="scrollToElement(home,'home')">Inicio</a></li>
          <li #about_li><a (click)="scrollToElement(about,'about')">Nosotros</a></li>
          <li #servicios_li><a (click)="scrollToElement(servicios,'servicios')">Servicios</a></li>
          <li #portafolio_li><a (click)="scrollToElement(portafolio,'portafolio')">Portafolio</a></li>
          <li #contact_li><a (click)="scrollToElement(contacto,'contact')">Contacto</a></li>
        </ul>
      </nav>
      
    </div>
  </header> -->
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section #home id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{{data.secciones.home.imagen}}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>{{data.secciones.home.titulo}}</h2>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section #about id="about">
      <div class="container">

        <header class="section-header">
          <h3>{{data.secciones.about.titulo}}</h3>
          <p>{{data.secciones.about.descripcion}}</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>{{data.secciones.about.Sdescripcion}}</p>
            <div *ngFor="let landing of data.secciones.about.caracteristicas" 
            class="icon-box wow fadeInUp">
              <div class="icon">
                  <i class="fas fa-chevron-right"></i>
              </div>
              <h4 class="title"><a href="">{{landing.titulo}}</a></h4>
              <p class="description">{{landing.descripcion}}</p>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="{{data.secciones.about.imagen}}" class="img-fluid" alt="">
          </div>
        </div>

        <div *ngFor="let landing of data.secciones.about.nosotros"
        class="row about-extra ">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{{landing.imagen}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0 d-flex justify-content-center flex-column">
            <h4>{{landing.titulo}}</h4>
            <p>{{landing.descripcion}}</p>
          </div>
        </div>
      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section #servicios id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>{{data.secciones.servicios.titulo}}</h3>
          <p>{{data.secciones.servicios.descripcion}}</p>
        </header>

        <div class="row">

          <div *ngFor="let landing of data.secciones.servicios.servicio"
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
                <div class="icon"><i class="ion-ios-checkmark-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">{{landing.titulo}}</a></h4>
              <p class="description">{{landing.descripcion}}</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>{{data.secciones.banner.titulo}}</h3>
          <p>{{data.secciones.banner.descripcion}}</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div *ngFor="let landing of data.secciones.banner.cuadroInfo" 
          class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <div class="icon"><i class="fa fa-gem"></i></div>
              <div class="card-body">
                <h5 class="card-title">{{landing.titulo}}</h5>
                <p class="card-text">{{landing.descripcion}}</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section #portafolio id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">{{data.secciones.portafolio.titulo}}</h3>
        </header>

        <div class="row">
        </div>

        <div class="row portfolio-container">

          <div *ngFor="let landing of data.secciones.portafolio.imagenes"
          class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{landing.imagen}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">{{landing.titulo}}</a></h4>
                <p>{{landing.descripcion}}</p>
                <div>
                  <a href="{{landing.imagen}}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #portfolio -->
    <section #contacto id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>{{data.secciones.contacto.titulo}}</h3>
        </div>

       
            <div class="footer-container">
              <div class=" info">
                <i class="ion-ios-location-outline"></i>
                <p>{{data.secciones.contacto.lugar}}</p>
              </div>
              <div class=" info">
                <i class="ion-ios-email-outline"></i>
                <p>{{data.secciones.contacto.email}}</p>
              </div>
              <div class=" info">
                <i class="ion-ios-telephone-outline"></i>
                <p>{{data.secciones.contacto.telefono}}</p>
              </div>
           
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="pyme" >     
        <p>Generado por</p>
        <a href="http://solucionescolabora.com/desarrollos/pymeassistant" target="_blank"> <img src="https://firebasestorage.googleapis.com/v0/b/pyme-assistant.appspot.com/o/web%2Fpyme_logo.png?alt=media&token=384d6da6-6722-44cb-9f79-2667eac1afb2"></a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a (click)="scrollToElement(home,'home',false)" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
