div.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width:992px) {
      flex-direction: column;
    }
}
.navbar-ex{
  background: white!important;
}
div.pyme {
    // background: rgba(255,255,255,0.6); /* Old browsers */
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 12px;
      margin: 0;
    }
    img {
      height: 50px;
      width: auto;
      text-align: center;
    }
    // margin-top:3.125rem;
    padding: 10px;
  }
  li.nav-item.active > a.nav-link {
    color: #007bff;
  }
  li.nav-item > a.nav-link {
    color: #004289;
    // padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    &:hover {
      color: #007bff;
    text-decoration: none;
    }
  }

  a {
    cursor: pointer;
  }

  .nav-margin{
    margin-left:20%;
    &-right {
      margin-right: 20%
    }
  }

  .icons-social{
    display: flex;
    justify-content: center;

    :hover{
      
      color: #004289!important;
      font-size: 32.5px!important;
    }

    .item-social{
      margin-right: 20px;
    }
  }

.img-portafolio{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.item-portafolio{
  text-align: -webkit-center;
}

